<div class="flight-info-container">
    <h3>Flight Information</h3>

    </div>
    <div class="passenger-cards-container">
        <h3>Passenger Information</h3>
    <div>
        <header>
            <div class="tab-header">
                <span
                    *ngFor="let passenger of passengers.controls; let i = index"
                    (click)="selectedTab = i"
                    [class.active]="selectedTab === i">
                    Passenger {{ i + 1 }}
                </span>
            </div>
        </header>

        <!-- Form Array Binding -->
        <form [formGroup]="passengerForm">
            <div formArrayName="passengers">
                <div *ngFor="let passenger of passengers.controls; let i = index" [formGroupName]="i">
                    <div *ngIf="selectedTab === i" class="passenger-card">
                        <h4>Guest #{{ i + 1 }}:</h4>

                        <label for="first-name-{{ i }}">First Name:</label>
                        <input type="text" id="first-name-{{ i }}" formControlName="firstName" required>

                        <label for="last-name-{{ i }}">Last Name:</label>
                        <input type="text" id="last-name-{{ i }}" formControlName="lastName" required>

                        <label for="dob-{{ i }}">Date of Birth:</label>
                         <input
                        id="dob-{{ i }}" 
                        formControlName="dob"
                                                name="return"
                        type="text"
                        class="input"
                        placeholder=""
                        onfocus="(this.type='date')"
                        onblur="(this.type='text')"
                         
                        required  
                
                      />
                        <label for="gender-{{ i }}">Gender:</label>
                        <select id="gender-{{ i }}" formControlName="gender" required>
                            <option value="" disabled></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>

                        <label for="email-{{ i }}">Email:</label>
                        <input type="email" id="email-{{ i }}" formControlName="email" required>

                        <label for="phone-{{ i }}">Phone:</label>
                        <input type="tel" id="phone-{{ i }}" formControlName="phone" required>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <button type="submit" [disabled]="!isFormValid()" (click)="onSubmit()">Submit</button>
</div>
