<form class="paymentForm" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="booking-summary">
        <div class="flight-details">
            <!-- Pass correct departure and arrival airports -->
            <h2>Departing Flight Details</h2>

            <app-flight-details [from]="departure_flight?.departure_airport?.name || ''"
                [to]="departure_flight?.arrival_airport?.name || ''" [date]="departure_flight?.departure_time || ''"
                [passengers]="passengers.length || 1">
            </app-flight-details>
            <h2 *ngIf="is_round_trip"  >Returning Flight Details</h2>

            <app-flight-details *ngIf="is_round_trip" [from]="returning_flight?.departure_airport?.name || ''"
                [to]="returning_flight?.arrival_airport?.name || ''" [date]="returning_flight?.departure_time || ''"
                [passengers]="passengers.length || 1">
            </app-flight-details>

        </div>
        <div class="price-summary">
            <app-price-summary
  [baseFee]="departure_flight?.cost || ''"
  [ReturnBaseFee]="returning_flight?.cost || ''"
  [taxes]="'20%'">
</app-price-summary>
            <div class="submitButton">
                <button type="submit" [disabled]="paymentForm.invalid">Submit Payment</button>
            </div>
            <p class="secure_message">Secure payment processed by Stripe</p>
        </div>
    </div>

    <div class="input-container">
        <!-- Card Number Input -->
        <div class="input-row">
            <div class="input-group">
                <label for="cardNumber">Card Number</label>
                <input id="cardNumber" type="text" formControlName="cardNumber" class="input" />
            </div>
        </div>

        <div class="input-row">
            <!-- Expiration Date and CVV Inputs -->
            <div class="input-group">
                <label for="expirationDate">Expiry Date</label>
                <input id="expirationDate" type="text" formControlName="expirationDate" placeholder="MM/YY"
                    class="input" />
            </div>

            <div class="input-group">
                <label for="cvv">CVV</label>
                <input id="cvv" type="text" formControlName="cvv" class="input" />
            </div>
        </div>

        <!-- Cardholder Name Input -->
        <div class="input-row">
            <div class="input-group">
                <label for="cardholderName">Cardholder Name</label>
                <input id="cardholderName" type="text" formControlName="cardholderName" class="input" />
            </div>
        </div>
    </div>
</form>