/* Styling the button group */
.button-group {
  justify-content: center; /* Center align the buttons */
  padding: 10px;
  margin-bottom: 5px;
}
 


.custom-autocomplete{
  width: 30vw!important;
  background-color: white;
 }
.button-group .button {
  padding: 10px 20px;
  border: none;
  margin-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  color: #4b5563; /* Default text color */
  background-color: #e5e7eb; /* Default background */
  transition: background-color 0.3s, color 0.3s;
}

.button-group .button.active,
.button:hover {
  background-color: #dc2626; /* Red background for active or hovered button */
  color: white;
}

.button-group .button:first-child {
  min-width: 100px;
}

.button-group .button:nth-child(2) {
  min-width: 100px;
}

.button-group .button:last-child {
  min-width: 140px;
}

/* Styling for the search button */
.search-button {
  padding: 12px;
  background-color: #DC2626;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.search-button:hover {
  background-color: #b91c1c;
}

/* Inputs styling */
.input,
.p-autoComplete .p-inputtext {
  padding: 12px!important;
  margin: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

.input::placeholder,
.p-autoComplete .p-inputtext::placeholder {
  color: #9ca3af;
  opacity: 1;
}

/* Styling for autocomplete component */
.p-autocomplete {
  width: 100%; /* Ensures autocomplete is the same width as input */
}

.p-autocomplete-panel {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Adding shadow to the dropdown */
}

/* Focused input styling */
.input:focus,
.p-autoComplete .p-inputtext:focus {
  outline: 2px solid #dc2626 !important; /* Red outline when input is focused */
  box-shadow: none; /* Remove default focus shadow */
}

/* Disabled input styling */
.input:disabled,
.p-autoComplete .p-inputtext:disabled {
  background-color: #f0f0f0;
  color: #a9a9a9;
  cursor: not-allowed;
  opacity: 0.6;
  border: 1px solid #ccc;
}

/* Layout for input containers */
.input-container {
  padding: 20px;
  height: 100%;
  display: block;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* Ensuring that the input and search button take up equal space */
.input-row input,
.search-button {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  box-sizing: border-box;
}

/* Custom submit button styling */
.submit {
  background-color: #dc2626;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

/* Form styling */
.search-form {
  gap: 10px;
  height: 50%!important;
  width: 80%!important;
  margin: auto;
  padding: 20px;
}

/* Styling for the recent search button */
.recentButton:hover {
  background-color: #dc2626!important;
  color: white!important;
}
