<div [formGroup]="formGroup"> <!-- Bind to the formGroup -->
    <label for="first_name">First Name:</label>
    <input id="first_name" formControlName="first_name" />
  
    <label for="last_name">Last Name:</label>
    <input id="last_name" formControlName="last_name" />
  
    <label for="dob">Date of Birth:</label>
    <input id="dob" formControlName="dob" type="date" />
  
    <label for="gender">Gender:</label>
    <select id="gender" formControlName="gender">
      <option value="" disabled>Select gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
  
    <label for="phone">Phone:</label>
    <input id="phone" formControlName="phone" type="tel" />
  </div>
  